@import "tailwindcss";

body {
    padding: 0 env(safe-area-inset-top) 0 env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.status-bar {
    height: env(safe-area-inset-top);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
}