<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <ng-icon name="heroBars3" size="24"></ng-icon>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a>Homepage</a></li>
        <li><a>Portfolio</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="flex items-center">
      <img src="/images/icon.png" alt="logo" class="w-6 h-6 me-2" />
      IEK EFOOD 360
    </a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-bottom dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <ng-icon name="lucideCircleUserRound" size="24"></ng-icon>
      </div>
      <div
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-2xl z-1 mt-3 w-52 p-2 shadow flex flex-col gap-2"
      >
        <div>Hello {{ authService.user?.name }}!</div>
        <ul>
          <li><a (click)="authService.logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<main>
  @if(!locationService.locationGranted) {
    <div class="flex flex-col gap-4 p-4">
      <div role="alert" class="alert sm:alert-horizontal bg-base-300">
        <ng-icon name="heroMapPin" size="24"></ng-icon>
        <span>We need permission to see your location.</span>
        <div>
          <button (click)="locationService.requestLocationPermission()" class="btn btn-sm btn-primary">Provide</button>
        </div>
      </div>
    </div>
  }
  @else{
    <div class="flex flex-col gap-4 p-4">
            <div role="alert" class="alert alert-horizontal alert-success alert-dash">
                <ng-icon name="heroMapPin" size="24"></ng-icon>
                <div>
                    <div>Location granted.</div>
                    <div class="text-sm text-gray-500">
                        {{ locationService.location.latitude }}, {{ locationService.location.longitude }}
                    </div>
                </div>
            </div>
        </div>
  }
  <router-outlet></router-outlet>
</main>
